.zhk-pro-header{
    width: 100%;
    background: #ffffff;
    height:80px;
    min-width: 1200px;
    z-index: 1000;
    position: relative;
    .content{
        width: 1200px;
        margin: 0 auto;
        line-height: 80px;
        height:80px;
        .left-logo{
            float:left;
            position: relative;
            img{
                width: auto;
                height: 37px;
                position: absolute;
                top:22px;
                left:0px;
            }
        }
        .right-option{
            float: right;
            color: #666666;
            //margin-right: 16px;
            .icon {
                position: relative;
                font-size: 14px;
            }
            .user-name{
                padding: 0 8px 0 4px;
                font-size: 14px;
                display: inline-block;
            }
            .link{
                color: #666666;
            }
            .spline{
                border-right:1px solid #ececec;
                margin:0 8px;
                height: 14px;
            }
        }
    }
}
.user-info-list{
    width: 154px;
    margin: -8px -16px;
    >li{
        height: 44px;
        line-height: 44px;
        padding-left: 20px;
        font-size: 14px;
        >a{
            color: #8e8e8e;
            .icon{
                padding-right: 8px;
                position: relative;
                top:1px;
                font-size: 14px;
                width:22px;
                display: inline-block;
            }
        }
    }
    >.border-b{
        border-bottom: 1px solid #e4e4e4;
    }
    >li:hover,>li:active{
        >a{
            color: #2db7f5;
        }
    }
}